<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ShtxSms2008Entities" connectionString="metadata=res://*/tongxin.csdl|res://*/tongxin.ssdl|res://*/tongxin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.67.232;initial catalog=ShtxSms2008;persist security info=True;user id=sa;password=yr_sh#tx_@;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MetalSmsSendEntities" connectionString="metadata=res://*/smsSend.csdl|res://*/smsSend.ssdl|res://*/smsSend.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.67.232;initial catalog=MetalSmsSend;persist security info=True;user id=sa;password=yr_sh#tx_@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Model.Properties.Settings.ShtxSms2008ConnectionString"
      connectionString="Data Source=172.20.67.232;Initial Catalog=ShtxSms2008;Persist Security Info=True;User ID=sa;Password=yr_sh#tx_@;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>